* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans', sans-serif;
    text-transform: capitalize;
}

.wrapper {
    width: 90%;
    margin: auto;
    position: relative;
}

.logo a {
    margin-left: 50px;
    font-size: 60px;
    font-weight: bold;
    float: left;
    font-family: "comic sans-as";
    color:rgb(100, 91, 91);
}

.search-bt {
    padding: 7px 20px;
    margin-left: 9px;
    font-size: 16px;
    border-radius: 30px;
}

.menu {
    float: right;
    width: 590px;

}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 90px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #000000;

}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-transform: capitalize;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 25px 0px 15px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;

}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.banner_section {
    width: 100%;
    background: url("pic/mkn.jpg");
    height: auto;
    background-size: 100%;
    padding: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_taital {
    width: 100%;
    padding: 100px 0px;
}

.makanan {
    width: 100%;
    margin-left: 50px;
    float: left;
    font-family: "comic sans-as";
    font-size: 70px;
    color: #fff;
    font-weight: bold;
    padding-right: 0; 
}

.lorem {
    width: 50%;
    margin-left: 50px;
    font-size: 20px;
    color: #fff;
    padding-bottom: 0px;
}

.h1 {
    width: 50%;
    margin-left: 100px;
    padding: 30px 0px 30px 60px;
    font-size: 16px;
    font-weight: bold;
    font-family: "comic sans-as";
    color: rgb(100, 91, 91);
}

.kolom {
    margin: 50px 0px 0px 200px;
}

.kolom .nasi {
    font-size: 30px;
    font-family: "comic sans-as";
    color: rgb(158, 123, 96);
}

.nasi-uduk {
    margin: 0px 50px 0px 90px;
   height: 390px
}

.opor {
    margin-left: 150px;
    height: 370px
}

.kolom-2 {
    margin-left: 60px;
    margin-bottom: 20px;
}

.kolom-2 .ayam {
    font-size: 30px;
    font-family: "comic sans-as";
    color: rgb(158, 123, 96);
}

.jarak {
    margin: 12px 0px 40px 0px;
}

a.tbl-biru {
    background: rgb(200, 165, 139);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: rgb(100, 91, 91);
    text-decoration: none;
}

a.tbl-pink {
    background: rgb(200, 165, 139) ;
    border-radius: 20px;
    margin-bottom: 1000px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background:  rgb(100, 91, 91);
}

.contact-section {
    width: 100%;
    float: left;
}

.contact {
    width: 100%;
    float: left;
    font-size: 40px;
    font-family: "comic sans-as";
    text-align: center;
    color: rgb(200, 165, 139);
    font-weight: bold;
}

.contact-section-2 {
    width: 100%;
}

.kata {
    width: 50%;
    margin: 130px 197px 185px 0px;
    padding: 20px 20px 0px 20px; 
    border: 1px solid black;
    background-color: rgb(200, 165, 139);
    border-radius: 20%;

}

.kata p {
   font-size: 25px;
   font-family: "comic sans-as";
}

.quote {
    margin-left: 420px;
}

.background {
    width: 50%;
    background-image: url("pic/mkn.jpg");
    height: 500px;
    background-size: 600ppx;
    padding: 0px 270px 0px 0px; 
}

.text-contact {
    width: 180%;
    margin-top: 20px;
}

.email-bt {
    padding: 10px 130px;
    margin: auto;
}

.text {
    color:black;
    padding: 10px 70px;
    margin-left: 5px;
    font-size: 16px;
    border-radius: 25px;
}

.massage-bt {
    color: #080707;
    width: 50%;
    height: 90px;
    font-size: 16px;
    padding: 40px;
    border: 0px;
    border-radius: 50px;
}

a.tbl-pink-2 {
    background: rgb(200, 165, 139) ;
    border-radius: 20px;
    margin-left: 140px;
    padding: 17px 57px 17px 60px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink-2:hover {
    background:  rgb(100, 91, 91);
}

#warna {
    background: rgb(231, 207, 189);
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    width: 20%;
    margin:  0 auto;
}

.insta {
    margin: 0px 0px 0px 5px;
}

.fa-solid {
    margin: 0px 5px 0px 0px;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color:rgb(78, 72, 66);
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}



@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu li {
        display: inline-block;
        float: none;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

}