* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 250, 242);;
    font-family: 'open sans', sans-serif;
    text-transform: capitalize;
}

.wrapper {
    width: 90%;
    margin: auto;
    position: relative;
}

.logo a {
    margin-left: 50px;
    font-size: 60px;
    font-weight: bold;
    float: left;
    font-family: "comic sans-as";
    color:rgb(100, 91, 91);
}

.search-bt {
    padding: 7px 20px;
    margin-left: 9px;
    font-size: 16px;
    border-radius: 30px;
}

.menu {
    float: right;
    width: 590px;

}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 90px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #000000;

}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-transform: capitalize;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 25px 0px 15px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;

}

a.tbl-biru {
    background: rgb(200, 165, 139);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: rgb(100, 91, 91);
    text-decoration: none;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {   
    padding: 100px 0px 0px 0px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.kolom .nasi {
    font-size: 40px;
    font-family: "comic sans-as";
    color: rgb(0, 0, 0);
}

.nasi-uduk {
   margin-right: 90px;
   padding: 50px 0px 0px 0px;
   height: 70px;
}

.jarak {
    margin: 25px 0px 40px 0px;
    font-family: "comic sans-as";
    font-size: 20px;
}

.infomasi {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.jam {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin : 6px ;
    background-color: rgb(200, 165, 139);
}

.jam:hover {
    background: rgb(100, 91, 91);
}

.l {
    width: 100%;
}

.o {
    width: 80%;
    margin: 35px 400px 30px 100px;
    font-family: "comic sans-as" ;
    font-size: 20px;
    height: 70px;
}

.v {
    width: 50%;
    margin-left: 100px;
    color:  rgb(100, 91, 91);
    font-family: "comic sans-as" ;
    font-size: 25px;
}

.e {
    width: 50%;
    margin-left: 100px;
    font-size: 20px;
    font-family: "comic sans-as";
}


.h {
    width: 100%;
    padding: 30px 20px 60px 0px;
    font-size: 20px;
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    font-family: "comic sans-as";
}

.i { 
    width: 20%;
   margin-left: 200px;
}

.m {
    width: 25%;
    margin-left: 300px;
}

.m p{
   font-size: 25px; 
}

.i p {
    font-size: 25px; 
}


.m b {
    color: rgb(195, 153, 122);
    font-size: 25px;
}

.i b{
    color: rgb(195, 153, 122);
    font-size: 25px;
}

.langkah {
    margin-left: 300px;
    height: 70px;
    font-size: 25px;
    color: rgb(100, 91, 91);
    font-family: "comic sans-as";
}

.foto-langkah {
    margin-left: 270px;
}

.angka {
    width: 4%;
    padding: 5px 0px 5px 11px;
    margin-right: 518px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(200, 165, 139);
}

.step {
    padding: 20px 20px;
    margin-right: 300px;
}

.step p{
    font-size: 20px;
    font-family: "comic sans-as";
}

.cara {
    width: 80%;
}

#warna {
    width: 100%;
    background: rgb(231, 207, 189);
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.insta {
    margin: 0px 0px 0px 5px;
}

.fa-solid {
    margin: 0px 5px 0px 0px;
}

.footer-section {
    width: 20%;
    margin:  0 auto;
}

.footer-section p {
    font-family: 'open sans', sans-serif;
}

.footer-section h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color:rgb(78, 72, 66);
    width: 100%;
    line-height: 50px;
}

#copyright {
    font-family: 'open sans', sans-serif;
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu li {
        display: inline-block;
        float: none;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    .h {
        width: 100%;
        padding: 15px auto;
        height: 250px;
        font-size: 20px;
        position: relative;
        display: flex; 
        flex-wrap: wrap;
    }

    .l {
        display: block;
        width: 100%;
        height: 570px;
    }

    .o {
        display: block;
        padding: 350px 0px 50px 2px;
    }

    .i {
        display: block;
        width: 100%;
        padding: 5px 0px 100px 2px;
        height: 150px;
    }

    .m {
        display: block;
        width: 100%;
        padding: 0px 100px 50px 0px;
        height: 500px;
    }
    
    .langkah {
        display: block;
        padding: 430px 0px 10px 2px;
    }

    .angka {
        display: block;
        padding: 5px 25px 5px 15px;
        margin: 5px 500px 5px 0px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(200, 165, 139);
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
}